<div class="contents row">
<% @user_infos.each do |user_info| %>
<div class="user_info"> 
 <div class="weight">
      日付：<%= user_info.created_at.strftime("%m月%d日") %>
    </div>
    <div class="BMI">
      BMI：<%= user_info.BMI %>
    </div>
  </div>
<% end %>
</div>


<html lang="ja">

<head>
  <meta charset="utf-8">
　<title>グラフ</title> 
</head>
<body>
  <canvas id="myLineChart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  <script>
  var ctx = document.getElementById("myLineChart");
  var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [<% @user_infos.each_with_index do |user_info| %> "<%= user_info.created_at.strftime("%m月%d日") %>" ,<% end %>],
      datasets: [
        
     
        {
          label: 'BMI',
          data: [ <% @user_infos.each_with_index do |user_info| %><%= user_info.BMI %> ,<% end %> ],
          borderColor: "rgba(0,0,255,1)",
          backgroundColor: "rgba(0,0,0,0)"
        },  

      ],
    },
    options: {
      title: {
        display: true,
        
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 40,
            suggestedMin: 0,
            stepSize: 10,
            callback: function(value, index, values){
              return  value +  ''
            }
          }
        }]
      },
    }
  });
  </script>
</body>

</html>